{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <h1>Hello {{ controller_name }}! ✅</h1>

    <div class="row">
        {% for recipe in recipes %}
            <div class="col-4">
                <div class="card">
                    <a class="card-body text-center" href="{{ path('app_recipe_show', {'id': recipe.id}) }}">
                        {{ recipe.name }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block actions %}
    <a href="{{ path('app_recipe_new') }}" class="btn btn-primary">+</a>
{% endblock %}
